body {
  background-color: #bfbfbf;
  font-family: helvetica, arial, sans-serif
}

a.ZerodayLink {
  text-align: center;
  color: inherit;
  text-decoration: inherit;
  font-size: 200%;
  padding-top: 2cm;
}

form {
  padding-top: 50px;
  border: 3px solid #f1f1f1;
  background-color: white
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    color: inherit;
    text-decoration: inherit;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
