body {
  background-color: #bfbfbf;
  font-family: helvetica, arial, sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

a.ZerodayLink {
  text-align: center;
  color: inherit;
  text-decoration: inherit;
  font-size: 200%;
  padding-top: 5cm;
}

a.Back {
  text-align: center;
  font-size: 110%;
  padding-top: 5cm;
}

inputs {
  padding: 150px;
}
